[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "==21.4b0"
python-dotenv = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
