[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
django = "*"
mysqlclient = "*"
django-simple-history = "*"

[dev-packages]
black = "==21.4b0"
django-debug-toolbar = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
