<!DOCTYPE html>
<html {% block html_attributes %}{% endblock %}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if debug %}
    <link rel="stylesheet" href="http://localhost:1234/base.css" />
    <script src="http://localhost:1234/base.js"></script>
    <meta name="referrer" content="no-referrer" />
    {% endif %}
    <title>{% block title %}PyYYC{% endblock %}</title>
  </head>
  <body {% block body_attributes %} {% endblock %}>
    {% if user.is_staff %}
    <nav class="navbar navbar-expand bg-gradient-staff-tools">
      <span class="navbar-text">Staff tools</span>
      <ul class="navbar-nav flex-grow-1">
        {% block staff_extra %} {% endblock %}
        <li class="nav-item ml-auto">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
    </nav>
    {% endif %}

    <nav class="navbar navbar-expand bg-danger text-white">
      <i
        >Due to the global catastrophe, all events will be online-only for the
        foreseeable future.</i
      >
    </nav>

    <nav
      class="navbar navbar-expand-sm bg-gradient-dark text-white align-items-baseline"
    >
      <span>
        <span class="navbar-brand mr-0">
          <a href="/">PyYYC</a>
        </span>
        <span class="ml-none navbar-text">Calgary’s monthly Python meetup</span>
        {% block navtitle %}{% endblock %}
      </span>

      <ul class="navbar-nav flex-grow-1-sm ml-sm-auto flex-row">
        <li class="nav-item px-1">
          <a class="nav-link" href="https://meetup.com/py-yyc">Meetup</a>
        </li>

        <li class="nav-item px-1">
          <a
            class="nav-link"
            href="https://www.youtube.com/channel/UCHmgKriEMwtnSHHCqrcKTJQ"
            >YouTube</a
          >
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="https://github.com/py-yyc">GitHub</a>
        </li>
      </ul>
    </nav>

    <nav class="navbar navbar-expand bg-gradient-light">
      <span class="nav-text">
        <a href="https://meetup.com/py-yyc">Join our meetup group</a> to RSVP
        for the next meetup!
      </span>
    </nav>

    <!-- -->
    {% block body_outer %}
    <div class="container">{% block body %} {% endblock %}</div>
    {% endblock %}
  </body>
</html>
