{% extends "pyyyc/base.html" %}
<!-- -->
{% block staff_extra %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'admin:pyyyc_event_change' object.id %}"
    >Edit “{{ object }}” in admin</a
  >
</li>
{% endblock %}
<!-- -->
{% block navtitle %}
<!-- -->

{% endblock %}

<!-- -->
{% block body %}
<!-- -->
{% with previous=object.get_previous_by_date next=object.get_next_by_date %}

<div style="float: right">
  {% if next %}
  <a href="{{ next.get_absolute_url }}"> &lt; {{ next.date }} </a>
  {% endif %}
  <span class="ml-3"></span>
  {% if previous %}
  <a href="{{ previous.get_absolute_url }}"> {{ previous.date }} &gt; </a>
  {% endif %}
</div>

<div>
  <h2><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h2>
  <h4>{{ event.date }}</h4>
  {{ event.name }}
  <!-- -->
  <ul>
    {% for talk in event.talk_set.all %}
    <li>
      {{ talk.title }}
      <blockquote>{{ talk.description }}</blockquote>
      <!-- -->
      {% if talk.slides_link %}
      <a href="{{ talk.slides_link }}">Slides</a>
      {% endif %}
      <!-- -->
      {% if talk.code_link %}
      <a href="{{ talk.code_link }}">Code</a>
      {% endif %}
      <!-- -->
      {% if talk.video_link %}
      <a href="{{ talk.video_link }}">Video</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% include "pyyyc/event_detail_card_snippet.html" with event=event %}
</div>

<div class="d-flex">
  {% if next %}
  <a class="mr-auto" href="{{  next.get_absolute_url }}"
    >&lt; {{ next.date }}: {{ next.name }}</a
  >
  {% endif %}

  <!-- -->
  {% if previous %}
  <a class="ml-auto" href="{{  previous.get_absolute_url }}"
    >{{ previous.date }}: {{ previous.name }} &gt;</a
  >
  {% endif %}
  <!- -->
</div>
{% endwith %} {% endblock %}
