{% extends "pyyyc/base.html" %}
<!-- -->
{% block body %}
<div style="float: right">
  {% if next_year %}
  <a href="{% url 'event-year-archive' next_year.year %}">
    &lt; {{ next_year.year }}
  </a>
  {% endif %}
  <span class="ml-3"></span>
  {% if previous_year %}
  <a href="{% url 'event-year-archive' previous_year.year %}">
    {{ previous_year.year }} &gt;
  </a>
  {% endif %}
</div>

<h1>PyYYC events: {{ year.year }}</h1>
<div>
  {% for event in event_list %}
  <div>
    <h2><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h2>
    <h4>{{ event.date }}</h4>
    {{ event.name }}
    <!-- -->
    {% include "pyyyc/event_detail_card_snippet.html" with event=event %}
  </div>
  {% endfor %}
</div>

<div class="d-flex justify-content-center">
  {% if next_year %}
  <a href="{% url 'event-year-archive' next_year.year %}">
    &lt; {{ next_year.year }}
  </a>
  {% endif %}
  <span class="ml-3 mr-3">{{ year.year }}</span>
  {% if previous_year %}
  <a href="{% url 'event-year-archive' previous_year.year %}">
    {{ previous_year.year }} &gt;
  </a>
</div>
{% endif %} {% endblock %}
