{% extends "pyyyc/base.html" %}
<!--
 All the extra comment lines are to allow this template to be formatted as HTML
 by prettier.
  -->
{% load pyyyc_extras %}

<!-- -->
{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-9 mt-4">
    <h2>Welcome!</h2>
    <div>
      <p>
        PyYYC is a monthly meetup where local people interested in the
        <a href="https://wiki.python.org/moin/BeginnersGuide/NonProgrammers"
          >Python programming language</a
        >
        get together to share Python tips, tricks, projects, and experiences;
        and to socialize with fellow python users, learners, and experts.
      </p>

      <p>
        This website is where we post slides and code from past meetups. You can
        refresh your memory if you saw something neat. Or, if you’re new here,
        take a look around to see some of what we do at the meetup.
      </p>

      <p>
        If you want to attend our next event, that’s all handled over at
        <a href="https://meetup.com/py-yyc">meetup.com</a>.
      </p>
    </div>

    <div>
      {% for event in event_list %}
      <!-- -->
      {% ifchanged event.date.year %}
      <div class="d-flex flex-row align-items-top">
        <h2 class="mb-2">{{ event.date.year }}</h2>
        <div class="ml-3 flex-grow-1">
          <hr />
        </div>
      </div>
      {% endifchanged %}
      <div class="mb-5">
        <h5
          class="hover-container text-muted d-flex flex-row align-items-baseline"
          id='{{ event.date|format:"%Y-%m-%d" }}'
        >
          <div class="small mr-2"><i>#{{ forloop.revcounter }}</i></div>
          <div><i>{{ event.date|format:"%A, %B %e %Y" }}</i></div>
          <a class="hover-link ml-3" href='#{{ event.date|format:"%Y-%m-%d" }}'
            >link</a
          >
        </h5>
        <h4>{{ event.name }}</h4>
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              {% with talks=event.talk_set %}
              <div>
                {% if talks.count %}

                <!-- -->
                {% if event.description_preamble %}
                <!-- -->
                <div class="preamble mb-3">{{ event.html_preamble }}</div>
                <hr />
                <!-- -->
                {% endif %}
                <div>
                  {% for talk in talks.all %}
                  <!-- -->
                  {% if not forloop.first %}
                  <hr />
                  {% endif %}
                  <div class="mb-2">
                    <h5>
                      {{ talk.title }}
                      <span class="ml-1 text-muted font-italic small"
                        >{{ talk.presenter_list }}</span
                      >
                    </h5>
                    {% if talk.html_description %}
                    <blockquote>{{ talk.html_description }}</blockquote>
                    {% endif %}
                    <!-- -->
                    {% if talk.slides_link %}
                    <a href="{{ talk.slides_link }}">Slides</a>
                    {% endif %}
                    <!-- -->
                    {% if talk.code_link %}
                    <a href="{{ talk.code_link }}">Code</a>
                    {% endif %}
                    <!-- -->
                    {% if talk.video_link %}
                    <a href="{{ talk.video_link }}">Video</a>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
                <!-- -->
                {% if event.description_postamble %}
                <!-- -->
                <hr />
                <div class="postamble mb-3">{{ event.html_postamble }}</div>
                <!-- -->
                {% endif %}
                <!-- -->
                {% else %}
                <!-- -->
                {{ event.html_description }}
                <!-- -->
                {% endif %}
              </div>
              {% endwith %}
            </div>
          </div>
        </div>
        <!-- -->
        {% if event.video_link %}
        <a href="{{ event.video_link }}">Video of meetup</a>
        {% endif %}
        <!-- -->
        {% if event.meetup_link %}
        <a class="float-right" href="{{ event.meetup_link }}"
          >More details on meetup.com</a
        >{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
